
header{
  position: relative;
  width: 100%;
  background-color: rgb(31, 31, 31);
  height: 80px;
  display: flex;
  justify-content: center;
  color: white;
}
header a{
  margin-left: 5%;
  color: white;
  padding-top: 2%;
  text-decoration: none;
}